$main-color: rgb(157, 183, 255);
$main-color-light: rgb(205, 225, 255);
$main-color-text: black;

$primary-color: rgb(229, 200, 157);
$primary-color-light: rgb(255, 251, 242);
$primary-color-text: rgb(50, 51, 11);

$secondary-color: rgb(255, 226, 209);
$secondary-color-light: rgb(255, 244, 244);
$secondary-color-text: black;
