$background-color: #f3c47e;
$background-color-light: #f3e0b6;

$primary-color: #303c6c;
$primary-color-light: #b4cde5;
$primary-color-highlight: #d2e4ff;

$text-color-light: rgb(218, 218, 218);
$text-color-dark: #000000;
