$main-color: rgb(157, 183, 255);
$main-color-light: rgb(205, 225, 255);
$main-color-text: black;

$primary-color: rgb(229, 212, 157);
$primary-color-light: rgb(255, 251, 231);
$primary-color-text: rgb(50, 51, 11);

$secondary-color: rgb(253, 189, 182);
$secondary-color-light: rgb(253, 229, 229);
$secondary-color-text: black;
